.fondo-gradiente {
  background: linear-gradient(to top, #6600cc -25%, #ff33cc 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-lyft {
  filter: grayscale(100) brightness(100);
  width: 40%;
}

.elements-container {
  justify-content: center;
}
